@charset "utf-8";
/* CSS Document */

/*公用样式*/
BODY {margin:0px;padding:0px;}

A:link {FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none}
A:visited {FONT-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none}
A:hover {FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: underline}

A.blue:link {FONT-SIZE: 9pt; COLOR: #0000FF; TEXT-DECORATION: none}
A.blue:visited {FONT-SIZE: 9pt; COLOR: #0000FF; TEXT-DECORATION: none}
A.blue:hover {FONT-SIZE: 9pt; COLOR: #FF0000; TEXT-DECORATION: underline}

form,img{margin:0 auto; padding:0; border:0;}

body,tr,a,input,textarea,select{color:#333;font-family: Tahoma;font-size: 12px;}
ul li {list-style:none;line-height: normal;}
ul{margin:0; padding:0; }
.clear{ height:15px; line-height:15px; overflow:hidden;}

/*头*/

.header{ height:100px; width:100%; background:#af3535; overflow:hidden;}
.header_center{ margin:0 auto; width:1280px; height:100px;}
.logo{ width:217px; height:90px; float:left;}
.h_right{ float:right; width:390px;height:90px;}
.h_right .photo{ color:#FFF; font-weight:bold; height:30px; line-height:30px;}
.photo .mail{ text-indent:20px; }
.photo span{ width:190px; display:block; float:left;}


.h_right .menu{ height:32px;}
.h_right .l_height{ height:20px; line-height:20px; overflow:hidden;}
.menu ul li{ float:left; width:90px; height:38px; line-height:38px; text-align:center; margin-left:20px; cursor:pointer;color:#FFF;}
.menu ul  #curr{background: url(../images/btn_bg.png) scroll  no-repeat 0 0;}
.menu ul li a{color:#FFF !important;display: block;font: 14px;text-align: center; line-height:38px; height:38px; font-weight:bold;}




/*中间*/

.m_center{ height:600px;  width:1280px; margin: 0 auto;}

.m_center #c_phone{
	position:absolute;
	background: url(../images/phone.png) scroll  no-repeat 0 0;
	width:600px;
	height:495px;
	overflow:hidden;
	display:block;
	margin-left:20px;
	margin-top:60px;
	z-index: 18;}

.m_center .c_right{ width:650px;  float:right; }

.m_center .f_s{ font-size:16px; padding:20px 10px 30px 20px; font-family:"微软雅黑"; font-weight:bold; color:#666}

/*尾*/


.footer{background: url(../images/bottom_bg.png) scroll  repeat 0 0;  width:100%; display:inline-block; margin-top:10px;}
.footer .conner{ width:300px; height:53px; line-height:53px; float:right; text-align:center; color:#999}
.footer .conner a{ color:#FFF; font-weight:bold;}

.icp{ height:30px; line-height:30px; display:inline-block; width:100%; color:#FFF; text-align:center; border-top:dashed 1px #FFF; }



/*效果图*/

#idSlider,#idSlider img{width:220px;height:366px;}
#idSlider{overflow:hidden;position:relative;}
#taobaolike{height: 366px;margin-left: 193px;margin-top: 46px;overflow: hidden;position: relative;width: 220px;}
#taobaolike #taobaopage{
	position:absolute;
	height:22px;
	bottom:9px;
	left:29px;
	width:155px;
	z-index: 90;
	display:none;

}
#taobaolike #taobaopage a{display:block;float:left;width:30px;font-size:18px;color:#FFF;text-align:center;text-decoration:none;line-height:22px;opacity:0.5;filter:Alpha(Opacity=50);}
#taobaolike #taobaopage a.on{opacity:0.8;filter:Alpha(Opacity=80); color:#F00;}





/*帮助中心*/


.m_l_menu{ float:left; width:190px;}
.m_l_menu ul{ margin:0 auto; text-align:center;}

.m_l_menu ul li{ font-size:18px;  height:40px; line-height:40px; width:160px;}
.m_l_menu ul li a{font-size:18px !important; font-weight:bold !important; color:#af3436 !important;height:40px; line-height:40px; width:160px;}

.m_r_main{ float:left; width:910px;}

.subtitle {color: #760003;font-size: 24px;height: 40px; font-family:"Microsoft YaHei" !important;  }

 .arrow {background: url("../images/icon_list.png") no-repeat scroll 0 0 transparent;display: inline-block;height: 24px;margin-right: 20px;width: 24px;}
 .content p{ text-indent:50px;}
 
 .clear_l{ height:40px; line-height:40px; overflow:hidden;}
 

 
 .content {color: #6F6F6F;font-size: 14px;position: relative;}
 .content2 p{ text-indent:0px;}
 .content3 p{ text-indent:0px; margin-left:50px;}
 .content4 p{ text-indent:0px; padding-left:50px; display:block;}
 .m_r_main section{ margin-bottom:30px; overflow:hidden;  } 
 
  .m_l_menu ul li a.active{background: url("../images/btn_navbar.png") no-repeat scroll 0 0 transparent;color: #FFFFFF !important;height:40px; line-height:40px; width:160px; display:block; text-align:center;}
  
  .m_r_main2{ width:950px;}
  .m_r_main3{ width:950px;}
  .m_r_main5{ width:700px;}
  
 .content2{ padding-left:45px;}
 .content3{ padding-left:40px;}


.tbl_yqlj a{ color:#FFF; }




.mark_dz li{ float:left;  font-size:14px; font-weight:bold; width:130px; height:39px; line-height:39px; margin-left:8px; margin-top:10px;text-indent:41px; overflow:hidden; cursor:pointer;}
.mark_dz  .down2{background: url("../images/down2.png") no-repeat scroll 0 0 transparent; width:130px; height:39px; display:block;}
.mark_dz  .down3{background: url("../images/down3.png") no-repeat scroll 0 0 transparent; width:130px; height:39px;display:block;}
.mark_dz  .down4{background: url("../images/down4.png") no-repeat scroll 0 0 transparent; width:130px; height:39px;display:block;}
.mark_dz  .down5{background: url("../images/down5.png") no-repeat scroll 0 0 transparent; width:130px; height:39px;display:block;}
.mark_dz  .down6{background: url("../images/down6.png") no-repeat scroll 0 0 transparent; width:130px; height:39px;display:block;}
.mark_dz  .down7{background: url("../images/down7.png") no-repeat scroll 0 0 transparent; width:130px; height:39px;display:block;}
.mark_dz li a{ color:#FFF !important; font-weight:bold; font-size:12px; }

